{% extends 'challenges/base.html' %}
{% load static %}

{% block static_file %}
    <link rel="stylesheet" href="{% static 'css/challenge.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}
{% block title %}{{ month|title }} Challenge{% endblock %}
{% block content %}
    {% include 'include/header.html' %}
    <h1>
        {{ month|title }}
    </h1>
    <h2>
        {% if text == None %}
            <p>There is no monthly challenge</p>
        {% else %}
            {{ text }}
        {% endif %}
    </h2>
{% endblock %}
